@import './global.scss';

.page-404 {

    h1 {
        margin: 2rem;
        font-size: 64px;
        font-family: $bangers;
        text-align: center;
    }

    p {
        width: 90%;
        min-width: 280px;
        margin: 0 auto;
        margin-bottom: 3rem;
        font-size: 24px;
    }
}