@import './global.scss';

.page-dear-players,
.page-dear-sponsors {

    h2 {
        margin: 1rem 0;
    }

    h3 {
        width: 75%;
        max-width: 815px;
        margin: 1rem 0;
        text-align: left;
        font-size: 32px;
        font-family: $bangers;
    }

    p {
        width: 75%;
        max-width: 815px;
        font-size: 18px;
        line-height: 175%;
    }

    ul {
        width: 75%;
        max-width: 815px;
        list-style: disc;
        color: $blue;
        font-size: 18px;
        line-height: 175%;
        font-family: $acme;

        .list-label {
            margin-right: .5rem;
        }

        li:not(:first-of-type) {
            margin-top: 1rem;
        }
    }

    .obligations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 36px;
            font-family: $bangers;
        }

        .error {
            margin-top: .5rem;
            padding: 0 1rem;
            color: $red;
            font-weight: 900;
            text-align: center;
        }

        label,
        input,
        select {
            width: 50%;
            min-width: 280px;
            max-width: 500px;
        }

        label {
            padding: 1rem;
            font-size: 20px;
            font-weight: 900;
        }

        input,
        select {
            padding: .5rem .8rem;
            border-radius: 1rem;
            border: 3px solid $blue;
            background-color: #F2F2F2;
            font-size: 18px;
            font-family: $acme;
        }

        select {
            background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+") no-repeat 95% 50%;
            background-color: #F2F2F2;
            appearance: none;
        }

        .honeypot {
            margin: 0;
            padding: 0;
            border: 0;
            width: 0;
            height: 0;
            pointer-events: none;
        }

        .container-checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .checkbox {
            position: relative;
            display: inline-block;
            padding: 0;
            width: 30px;
            height: 30px;
            min-width: initial;
            border: 2px solid $blue;
            appearance: none;
            transition: all .25s;

            &:checked {
                background-color: $blue;

                &:after {
                    content: '\2713';
                    position: absolute;
                    left: 6px;
                    color: $white;
                    font-size: 18px;
                    outline: none;
                }
            }
        }

        .checkbox-label {
            display: inline-block;
            width: 216px;
            min-width: initial;
            max-width: initial;
            padding-left: .5rem;
            font-size: 18px;
            font-weight: 400;
        }

        .submit-button {
            margin: 3rem;
            width: 25%;
            min-width: 140px;
            border: 5px solid $blue;
            font-size: 24px;
            font-family: $bangers;
            color: $blue;
            background-color: $aqua;
            cursor: pointer;
            appearance: none;
        }
    }
}

@media (max-width: 500px) {

    .page-dear-players,
    .page-dear-sponsors {

        h3,
        p,
        ul {
            width: 90%;
            min-width: 265px;
        }
    }
}