@import './global.scss';

.blog-post {
    h1 {
        padding: 0 .5rem;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }

    .post-date {
        display: block;
        padding-top: .5rem;
        padding-bottom: .2rem;
        color: $gray;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        text-align: center;
    }

    .article-body {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            width: 100%;
            padding: 0;
            color: $blue;
            font-family: $bangers;
            text-align: left;
        }

        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 42px;
        }

        h3 {
            font-size: 36px
        }

        h4 {
            font-size: 32px
        }

        h5 {
            font-size: 28px
        }

        h6 {
            font-size: 24px;
        }

        p {
            padding: 1rem;
            width: 100%;
            color: $black;
            font-size: 18px;
        }

        a,
        a:visited,
        a:link,
        a:hover {
            text-decoration: underline;
        }

        a,
        a:link {
            color: blue;
        }

        a:visited {
            color: purple;
        }

        a:active {
            color: red;
        }

        strong {
            font-weight: 900;
        }

        em {
            font-style: italic;
        }

        blockquote {
            margin: 1rem 0;
            margin-left: .5rem;
            padding: 1rem 0;
            padding-left: .5rem;
            font-style: italic;
            border-left: 4px solid $blue;
        }

        ul {
            margin: .5rem 0;
            margin-left: 1rem;
            list-style: upper-alpha;
        }

        ol {
            margin: .5rem 0;
            margin-left: 1rem;
            list-style: decimal;
        }

        img {
            display: block;
            width: 50%;
            min-width: 280px;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            border-radius: 1rem;
        }

        pre code {
            display: block;
            padding: 20px;
            background-color: $black;
            color: $white;
            border: 1px solid #999;
            border-radius: 1rem;
            font-family: "Courier"
        }
    }
}

.blog-post-nav {
    padding: 1rem;

    a {
        color: $blue;
        font-family: $acme;
    }
}