@import 'global.scss';

.contact-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $dark-red;

    a {
        color: $white;
        font-size: 24px;
        font-family: $acme;
        text-transform: uppercase;

        .arrow {
            position: relative;
            top: 1px;
            display: inline-block;
            width: 20px;
        }
    }
}

.contact-page {
    position: relative;
    min-height: 100vh;
    padding: 0 1rem;
    padding-top: 1rem;
    background-image: url("/media/spotlight.svg"), url("/media/dot-mask.png");
    background-color: $blue;
    background-size: 95% 95%, cover;
    background-repeat: no-repeat;
    background-position: center -100%, center center;
    color: $white;
    font-family: $acme;
    font-size: 24px;

    h1 {
        font-size: 48px;
        font-family: $bangers;
        text-align: left;
    }

    p {
        max-width: 320px;
        text-align: left;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;

        .error {
            margin-top: .5rem;
            padding: 0 1rem;
            padding-bottom: 1rem;
            color: $red;
            font-weight: 900;
            text-align: center;
        }

        label {
            display: block;
            width: 50%;
            min-width: 280px;
            max-width: 560px;
            margin: 0 auto;
        }

        .form-input {
            display: block;
            width: 100%;
            min-width: 280px;
            max-width: 560px;
            margin: .4rem auto 1rem;
            padding: .4rem .6rem;
            border: 5px solid $black;
            border-radius: 1rem;
            color: $blue;
            font-weight: 900;

            &[type="textarea"] {
                height: 150px;
            }
        }

        .submit-button {
            width: 25%;
            min-width: 140px;
            margin-top: 1rem;
            margin-bottom: 3rem;
            padding: .5rem;
            border: 5px solid $white;
            border-radius: 1rem;
            font-size: 36px;
            font-family: $bangers;
            color: $white;
            background-color: $aqua;
            cursor: pointer;
            appearance: none;
        }
    }

    .success-message {
        padding: 3rem;
    }
}

@media (max-width: 600px) {
    .contact-page {
        .success-message {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}