@import './global';

.container-home-hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("/media/hero.svg");
    background-size: cover;
    background-position: center 30%;

    h2 {
        position: absolute;
        bottom: .5rem;
        width: 100%;
        text-align: center;
        color: $white;
        font-family: $bangers;
        font-size: 64px;
        -webkit-text-stroke: 3px $black;
    }

    .shew-logo {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 80px;
    }
}

.section-mystery {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 525px;
    margin-bottom: 1rem;
    border-bottom: 1px solid $black;
    box-shadow: -70px 10px 50px $black;
    transition: all 1s ease;

    &.out {
        box-shadow: 0 10px 50px $black;
    }

    .question-mark {
        color: $black;
        font-size: 300px;
        cursor: default;
    }

    p {
        color: $black;
        text-align: center;
        font-family: $bangers;
        font-size: 72px;
    }

    .third-line {
        color: #808080;
        font-family: $acme;
        font-size: 18px;
    }

    .dogear {
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 10%;
        min-width: 80px;
        max-width: 100px;
        cursor: pointer;
        opacity: 1;
        transition: opacity .1s linear;
        transform-origin: 100% 100%;
        animation: tug 1s linear infinite;

        @keyframes tug {
            50% {
                transform: scale(1.08)
            }

            100% {
                transform: scale(1)
            }
        }

        &.out {
            opacity: 0;
        }
    }

    .p-container {
        opacity: 1;
        transition: all 1s ease;

        p {
            height: 100%;
        }

        &.out {
            opacity: 0;

            p {
                transition: all .2s ease;
                opacity: 0;
                height: 0;
            }
        }
    }

    .border-mask {
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 5.3%;
        min-width: 44px;
        max-width: 53px;
        height: 2px;
        background-color: $white;
        transition: all 2s ease;
        transform-origin: 100% 100%;
        animation: expand 1s linear infinite;

        @keyframes expand {
            50% {
                transform: scaleX(1.08)
            }

            100% {
                transform: scaleX(1)
            }
        }

        &.out {
            opacity: 0;
        }
    }

    .top-mask {
        z-index: 2;
        width: 100%;
        min-height: 525px;
        background-color: $white;
        transition: all 1s ease;


        &.out {
            width: 0;
        }
    }

    .shadow-container {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -75px;
        background-image: linear-gradient(to right, #333 75%, #ffffff 100%);
        transition: all 1s ease;

        &.out {
            right: 100%;
        }
    }

    .content-underneath {
        z-index: -2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 525px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-family: $bangers;
            font-size: 42px;
        }

        h2 {
            text-align: left;
            font-size: 32px;
        }

        p {
            text-align: left;
            font-size: 18px;
            font-family: $acme;
        }

        .bio {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            padding: 1rem;
            border-left: 10px solid $black;
        }
    }
}

.section-interjections {
    position: relative;
    padding: 5%;
    padding-bottom: 0;
    border: 12px solid $black;
    background-image: url('/media/dot-mask.png');
    background-color: #6186E4;

    .websites {
        position: absolute;
        top: 2%;
        left: 0;
        width: 60%;
    }

    .apps {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 40%;
    }

    .ecommerce {
        margin-top: 30%;
    }
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
    }
}

.section-tech {
    background-image: url("/media/skyline.svg");
    background-size: cover;
    background-position: center bottom;

    h2 {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
        color: $white;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .more {
        padding: 0 3rem 35%;
        color: $white;
        font-family: $acme;
        font-size: 36px;
        text-align: center;
    }
}

.section-blog {
    margin-bottom: 3rem;

    h2 {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
    }

    .post {
        margin-bottom: 1rem;
        padding: 0 15%;

        .post-title a {
            color: $purple;
            font-family: $bangers;
            font-size: 32px;
        }

        .post-date {
            display: inline-block;
            padding-bottom: .2rem;
            color: $gray;
            font-family: $acme;
            font-weight: 900;
        }

        .post-excerpt {
            font-family: $mclaren;
        }
    }
}

@media (max-width: 755px) {
    .section-tech {
        .more {
            padding-bottom: 45%;
        }
    }
}

@media (max-width: 650px) {
    .container-home-hero {
        background-position: center 100%;
    }
}

@media (max-width: 600px) {
    .section-tech {
        .more {
            padding: 0 1rem 55%;
        }
    }
}

@media (max-width: 550px) {
    .section-mystery {
        p {
            font-size: 48px;
        }
    }
}

@media (max-width: 535px) {
    .section-tech {
        .more {
            padding-bottom: 65%;
        }
    }
}

@media (max-width: 450px) {
    .section-tech {
        .more {
            padding-bottom: 85%;
        }
    }
}